<div class="container-fluid" ng-controller="AddDepartmentController">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thêm mới ban ngành</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="card-title ">
                <div class="flex flex-end">
                    <button type="button" class="btn btn-success mr-1" ng-click="create(f_CreateDepartment)">
                        Lưu
                    </button>
                    <a href="/admin/department" class="btn btn-primary">Danh sách</a>
                </div>
            </div>
            <form name="f_CreateDepartment" ng-validate="validator">
                <div class="form-group">
                    <label>Tên ban ngành <span class="required">(*)</span> </label>
                    <input type="text" name="name" ng-model="formCreate.name" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tiêu đề <span class="required">(*)</span> </label>
                    <textarea name="title"  ng-model="formCreate.title"  id="title" rows="2" placeholder="..." class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Nội dung <span class="required">(*)</span> </label>
                    <textarea name="content" id="content_department" rows="2" placeholder="Nội dung"
                        class="form-control"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>