<!DOCTYPE html>
<html lang="en" ng-app="CLBKNCS">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    {{> users/css_common}}
    {{> users/css}}

</head>

<body ng-controller="InfoClubController">
    {{> users/nav}}
    {{{ body }}}
    {{> users/footer}}
    {{> users/scroll-top}}
    {{> users/js}}
    {{> users/angular}}

    <script src="/clbkncs/infoClub/infoClub.controller.js"></script>
    <script src="/clbkncs/infoClub/infoClub.service.js"></script>
    <script src="/clbkncs/shared/http.service.js"></script>
    <script src="/clbkncs/shared/shared.service.js"></script>
</body>

</html>