<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    {{> users/css_common}}
    {{> users/css}}

</head>

<body>
    {{> users/nav}}
    {{{ body }}}
    {{> users/footer}}
    {{> users/scroll-top}}
    {{> users/js}}
</body>

</html>