<div class="container-fluid" ng-controller="PostController">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách bài viết</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="card-title">
                <a href="/admin/post/add" class="btn btn-success" >
                    Thêm mới
                </a>
                <button type="button" class="btn btn-primary">Tải lại</button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Danh mục</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in posts">
                            <td ng-bind="item.title"></td>
                            <td ng-bind="item.category_name"></td>
                            <td ng-bind="item.created_date | formatDateToDMY"></td>
                            <td ng-bind="item.status | filterStatusToText"></td>
                            <td>
                                <div class="btn-group  btn-group-sm" role="group" aria-label="Basic example">
                                    <button type="button" class="btn" ng-click="info(item.id)" >
                                        <i class="fas fa-pen-alt"></i>
                                    </button>
                                    <button type="button" class="btn" ng-click="deleteUser(item.id, item.name)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>