<div class="page-content">
    <div class="divider mb-5"></div>
    <main class="container-fluid">
        <div class="ct-page">
            <div class="info-clb box">
                <div class="mb-title text-center">
                    <h3 class="font-weight-bold text-uppercase">
                        tiêu đề bài viết
                    </h3>
                    <div class="n-b-title text-uppercase mt-2">
                        <span class="type-n">
                            <a href="/activity-clb/detail">
                                Loại tin tức
                            </a>
                        </span>
                        <span class="date-publised">12-02-2019 15:20:11</span>
                    </div>
                </div>
                <div class="i-content mt-2">
                    Leonardo DiCaprio caused a stir on social media Saturday when he disclosed in an interview with the
                    cast of “Once Upon a Time...in Hollywood” that he prefers pupusas over tacos.

                    The cast had been asked about their favorite kind of Mexican food. Brad Pitt went with tacos.


                    “I’m a pupusa man, myself,” DiCaprio said. “Better than tacos to me, I gotta go with them,” Remezcla
                    reported.

                    SETH ROGEN HAS BEEF WITH 'LION KING' CO-STAR BILLY EICHNER OVER BEYONCE PHOTO CROP

                    Leonardo DiCaprio is seen at the Los Angeles premiere of "Once Upon a Time in Hollywood," at the TCL
                    Chinese Theatre, Monday, July 22, 2019. (Associated Press)
                    Leonardo DiCaprio is seen at the Los Angeles premiere of "Once Upon a Time in Hollywood," at the TCL
                    Chinese Theatre, Monday, July 22, 2019. (Associated Press)
                    Pupusas – a thick corn tortilla often stuffed with cheese, refried beans or meat – are actually
                    Salvadoran, not Mexican, but that didn’t stop the Internet from going crazy.

                    CLICK HERE TO GET THE FOX NEWS APP

                    Even Rep. Alexandria Ocasio-Cortez had something to say.
                </div>
            </div>
            <div class="divider mb-5"></div>
    </main>
    <div class="divider mb-5"></div>
</div>