/* common */
body{
    background: rgb(226, 226, 226)
}
.mgr-10{
    margin-right: 10px;
}

.mgl-10{
    margin-left: 10px;
}

.mgt-20{
    margin-top: 20px;
}

.mgb-20{
    margin-bottom: 20px;
}


/* header */
nav a.nav-brand{
    height: 50px !important;
    width: 50px !important;
}

nav .navbar-brand img{
    height: 100%;
    width: 100%;
}

#page-home header{
    /* background-image: url(/images/store/paris.jpg);  */
    height: 100vh;
    background-size: cover;
    background-position: center;
    max-height: 480px;
}

@media only screen and (max-width: 1000px) {
    #page-home header{
        max-height: 430px;
    }
}

@media only screen and (max-width: 800px) {
    #page-home header{
        max-height: 380px;
    }
}

@media only screen and (max-width: 600px) {
    #page-home header{
        max-height: 300px;
    }
}

@media only screen and (max-width: 400px) {
    #page-home header{
        max-height: 200px;
    }
}

#page-home header .img-home{
    height: 100%;
    width: 100%;
}

/* footer */
footer div.contact.flex div.f-info{
    flex: 1;
    border: 1px solid #eee;
    text-align: center;
    height: 200px;
}

.fl-1{
    flex: 1;
}
div.f-info{
    position: relative;
    min-width: 250px;
    min-height: 200px;
}
div.f-info .w-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

div.founder .w-info img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}


div.f-info i{
    transform: scale(1.5);
}

div.f-info .i-title{
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(27, 27, 29);
}

div.f-info .i-title{
    font-size: 1.2rem;
}

footer div.contact{
    margin-bottom: 20px;
}

div.copyright{
    line-height: normal !important;
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    .contact.d-flex{
        flex-direction: column !important;
    }
    div.f-info i{
        transform: scale(1.1);
    }
    div.f-info .i-title {
        font-size: 1rem;
    }
    div.f-info .i-content{
        font-size: 1rem;
    }
}



