<div class="page-content" ng-controller="AboutUsController">
    <div class="divider mb-5"></div>
    <main class="container-fluid">
        <div class="ct-page">
            <div class="info-clb box">
                <div class="mb-title text-center">
                    <h3 class="font-weight-bold text-uppercase">
                        câu lạc bộ kỹ năng cuộc sống
                    </h3>
                </div>
                <div class="hr mt-2"></div>
                <div class="i-content d-flex flex-wrap">
                    <div class="i-b fl-1 text-center mgr-10 p-4 mt-2 flex justify-content-center">
                        <div class="wr-ct">
                            <img src="/images/store/paris.jpg" alt="">
                            <div class="i-b-title text-uppercase mt-2">
                                Slogan
                            </div>
                            <div class="i-b-content" ng-bind="info.slogan">
                            </div>
                        </div>
                    </div>
                    <div class="i-b fl-1 text-center p-4 mt-2 mgr-10 flex justify-content-center">
                        <div class="wr-ct">
                            <img src="/images/store/paris.jpg" alt="">
                            <div class="i-b-title text-uppercase mt-2">
                                lĩnh vực hoạt động
                            </div>
                            <div class="i-b-content" ng-bind="info.field_of_activity">
                            </div>
                        </div>
                    </div>
                    <div class="i-b fl-1 text-center p-4 mt-2 flex justify-content-center">
                        <div class="wr-ct">
                            <img src="/images/store/paris.jpg" alt="">
                            <div class="i-b-title text-uppercase mt-2">
                                quy mô
                            </div>
                            <div class="i-b-content" ng-bind="info.scales">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="divider mb-5"></div>
            <div class="info-clb box">
                <div class="mb-title text-center">
                    <h3 class="font-weight-bold text-uppercase">
                        Các ban ngành
                    </h3>
                </div>
                <div class="hr mt-2"></div>
                <div class="i-content">
                    <div class="n-b p-4 mt-2 bd-1" ng-repeat="item in departments">
                        <div class="ct-box ">
                            <div class="ct-wr-in">
                                <div class="n-b-title text-uppercase mt-2">
                                    <div class="title-category text-center">
                                        <h4 ng-bind="item.name">
                                        </h4>
                                    </div>
                                </div>
                                <div class="n-b-content" compilehtml content="item.content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider mb-5"></div>
    </main>
    <div class="divider mb-5"></div>
</div>