<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="my-auto">
        <div class="contact flex d-flex flex-wrap">
            <div class="address f-info p-2">
                <div class="w-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="i-title">Địa chỉ liên hệ</div>
                    <div class="i-content text-uppercase" ng-bind="info.address"></div>
                </div>
            </div>
            <div class="mobile f-info p-2">
                <div class="w-info">
                    <i class="fas fa-mobile-alt"></i>
                    <div class="i-title">Hotline</div>
                    <div class="i-content" ng-bind="info.phone">
                        0956565555
                    </div>
                </div>
            </div>
            <div class="founder f-info p-2">
                <div class="w-info">
                    <img src="" alt="">
                    <div class="i-title">Người sáng lập Website</div>
                    <div class="i-content text-uppercase" ng-bind="info.founder || 'Đặng Hồng Nhung'">
                    </div>
                </div>
            </div>
            <div class="email f-info p-2">
                <div class="w-info">
                    <i class="far fa-envelope"></i>
                    <div class="i-title">Email</div>
                    <div class="i-content" ng-bind="info.email">
                        abc@gmail.com
                    </div>
                </div>
            </div>
            <div class="work-time f-info p-2">
                <div class="w-info">
                    <i class="far fa-clock"></i>
                    <div class="i-title">Giờ làm việc</div>
                    <div class="i-content" ng-bind="info.work_start_time + ' - ' + info.work_end_time">
                        08:00 - 12:00
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; CLBKNCS 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->